@import "@styles/deviceBreakpoints.less";

.teams-color-manager {
  display: flex;
  column-count: 2;
  width: 100%;
  column-gap: 50px;
  min-width: 220px;

  .teams-colors {
    display: grid; //to apply row-gap
    row-gap: 20px;
    width: 100%;

    @media (min-width: @xsmall) {
      display: flex;
      column-count: 2;
      column-gap: 50px;
    }
  }
}
