.pbt-menu-button {
  height: 42px;
  width: 42px;

  color: #f2fffb;
  background-image: linear-gradient(
    to right,
    #0c2046,
    #0b65a5,
    #000201,
    #2a86fb
  );

  border: 1px solid grey;
  border-radius: 5px;
}
