@import "@styles/deviceBreakpoints.less";

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.counter-jammer1 {
    order: 0;

    @media (min-width: @xsmall) {
      order: 3;
    }
  }

  #counter-type {
    margin: 13px 0;
    text-transform: capitalize;
    border: 2px solid #2a86fb;
    color: #2a86fb;
    padding: 3px 12px;
    border-radius: 8px;
    font-weight: 400;
  }

  .timer-wrapper {
    position: relative;
  }

  .counter-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 5px;

    @media (min-height: @small) {
      margin-top: 1rem;
    }
  }
}
