@import "@styles/deviceBreakpoints.less";

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.counter-jammer1 {
    order: 0;
  }

  @media (min-width: @xsmall) {
    &.counter-jammer1 {
      order: 3;
    }
  }

  #counter-type span {
    margin: 13px 0;
    color: red;
  }

  .timer-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    span {
      text-transform: capitalize;
    }
  }

  .timer-wrapper {
    position: relative;
  }

  .counter-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
  }
}
